


  <h3>Total number of colleges interested in workshops <%= College.all.size %></h3>

  <%= link_to "View all colleges", colleges_path %>



  <h3>Total number of students for all workshops  <%= Student.all.size %></h3>
    <%= link_to "View all Students", students_path %>


<h3>No. of workshops conducted
